name: Release

on:
  workflow_dispatch:

permissions:
  packages: write
  contents: read
  id-token: write

env:
  GITHUB_USERNAME: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
  CENTRAL_TOKEN: ${{ secrets.CENTRAL_TOKEN }}
  GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
  GPG_PRIVATE_KEY_PASSPHRASE: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
  CI: true

jobs:
  maven_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set release version suffix
        run: |
          echo "SW_RUM_VERSION_SUFFIX=alpha" >> $GITHUB_ENV

      - name: Publish
        run:
          ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository